{% extends "/layouts/base-v2.html" %}


{% block content %}
<div style="padding:0 60px 0 60px">
    <a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
  </div>
  <div class="app-layout__content">
    <form action="" method="POST" enctype="multipart/form-data">
        <span class="govuk-caption-l">Add to an existing component</span>
     
      <h1>Upload an image of the component</h1>

      <p>You also need to upload an image showing what the component looks like. It should not contain any personal or sensitive information.</p>

      <p>You'll also have an opportunity to add more images of the component after submitting it.</p>

      {% from "govuk/components/button/macro.njk" import govukButton %}
      {% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}

      {{ govukFileUpload({
        id: "component-screenshot",
        name: "component-screenshot",
        hint: {
          text: "The selected file must be a JPG, BMP, PNG, TIF or PDF and smaller than 10MB."
        },
        label: {
          text: "Upload a file",
          classes: "govuk-label--m"
        }
      }) }}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Continue"
        }) }}

        {{ govukButton({
          text: "Add another file",
          classes: "govuk-button--secondary"
        }) }}
      </div>
    </form>
  </div>
{% endblock %}