{% extends "/layouts/base-v3.html" %}

{% from "../../layouts/macros/card.njk" import card %}

{% block content %}
  <div class="app-layout__content">
    <span class="govuk-caption-l">Get involved</span>
    <h1>Collaborating in the design system</h1>

    <h2>Get involved and add your own work to the MoJ Design System</h2>
    <p>The MoJ Design System is a collaboration between users and the design system team. You're invited to add your own work to the design system, giving you the opportunity to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>share your work in the open, as per the Government Design Principles</li>
      <li>help others in the community by providing new designs they can reuse in their service</li>
      <li>collaborate with others to continue developing building blocks</li>
      <li>taking part in discussions with other users</li>
    </ul>
  </p>


  <h3>Who can submit new work to the design system?</h3>

  <p>Anyone can submit new building blocks to the design system.</p>

  <p>The team encourages people from the MoJ and other government communities to get involved and submit their own ideas to the design system. There are no limitations on who can submit new work to the design system.</p>

  <hr>

  <h2>How to submit your building blocks to the design system</h2>

  <p>You can submit a new building block such as a component, page or pattern directly in the design system. You'll be asked what information you have available about the building block. There are some questions you have to answer.</p>

  <p>When submitting a building block, you must add:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>basic information about the building block</li>
    <li>an image showing what you're submitting</li>
    <li>your personal details</li>
  </ul>

  <p>You'll also have the opportunity to add further information if you have it available.</p>

  <p>This gives the design system team a basic understanding of the building block. It also tells people how to use it in their own service.</p>

  <p>Providing your personal details gives the team the means to contact you if they have any questions. It also gives other users the opportunity to get in touch with you to ask questions about the building block.</p>

  <p><a href="">Submit your building block to the MoJ Design System</a></p>

  <hr>

  <h2>Design System team review process</h2>

  <p>The MoJ Design System team review all building blocks before they go live. This process can take up to 5 working days.</p>

  <p>The review involves the team checking the information you send. If there are no issues and the team does not need to contact you, the building block will be published live in the design system.</p>

  <p>The team will contact you by email when it goes live.</p>

  <hr>

  <h2>Status of building blocks in the design system</h2>

  <p>Every building block added to the MoJ Design System is given a status. The status is to show you how to use the building block.</p>

  <p>There are currently 4 tier statuses in the design system. These are:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>Experimental</li>
    <li>To be Reviewed</li>
    <li>Official</li>
    <li>Archived</li>
  </ul>

  <p>A building block added by someone from the community of users will start its lifecycle with the 'experimental' status. This shows it has had a brief sense check from the MoJ Design System team when it was submitted.</p>

  <p>This means its in the early steps of development as a building block. And may not have yet been considered for use in a full service. Experimental building blocks are only to be used in alpha and beta phases of a project.</p>

  <p><a href="">Discover more about building block statuses</a></p>

  <hr>

  <h2>Continue developing existing building blocks via GitHub</h2>

  <p>After a new building block is published in the design system, you, and other users, have the chance to continue developing it. This is done with users continuing to add more information and resources to the building block via GitHub.</p>

  <h3>Adding information to a building block in GitHub</h3>

  <p>You should:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>find the building block you want to add more information to from the list in the left-hand navigation menu</li>
    <li>select the information you want to add using the tabbed menu</li>
    <li>select the link to go to the GitHub conversation</li>
    <li>add your comments, information and resources about the building block</li>
  </ul>

  <h3>Using building blocks still in development</h3>

  <p>The more developed a building block is, the better the chance other users will consider using it in their own service if it can help them solve a problem. However, until they receive an "Official" status, they're only to be used in alpha and beta project phases.</p>

  <p><a href="">Go to the Ministry of Justice GitHub page</a></p>

</div>
{% endblock %}