{% extends "../layouts/base.html" %}
{% from "../layouts/macros/card.njk" import card %}

{% block content %}
  <div class="govuk-phase-banner" style="background-color: white; padding: 10px 10px 0px 10px; margin: 0; position: sticky; top: 0; z-index:100;">
    <p class="govuk-phase-banner__content" style="margin-bottom: 10px; font-size: 15px">
      <span class="govuk-tag govuk-phase-banner__content__tag" style="max-width: none; white-space: nowrap">
        Community component
      </span>
      <span class="govuk-phase-banner__text">
        Added Mar 2025. For use in alpha and beta phases. <a href="">How to use a community component</a>.
      </span>
    </p>
  </div>

  <div class="app-layout__content">
    <span class="govuk-caption-l">Community components</span>
    <h1>{{ data['component-name'] or "Loading Spinner" }}</h1>

    <style>
      .moj-sub-navigation__link[aria-current=page]:before {
        //bottom:-5px
      }

      .app-prose-scope ul,
      .govuk-list--bullet {
        padding: 0;
      }

      .moj-sub-navigation__link {
        margin-bottom: -4px;
        text-decoration: none !important;
      }

      .app-prose-scope a:focus, a:focus, .govuk-link:focus {
        box-shadow: 0 -2px #ffdd00, 0 2px #0b0c0c
      }
    </style>

    <nav class="moj-sub-navigation" aria-label="Sub navigation">
      <ul class="moj-sub-navigation__list">
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" id="link-overview" href="#overview" aria-current="page">Overview</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" id="link-code-stuff" href="#code-stuff">Code</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" id="link-additional-info" href="#additional-info">Additional Info</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" id="link-contribution" href="#contribution">Add component information</a>
        </li>
      </ul>
    </nav>

    <div id="overview" class="content-section">

      <img src="data:image/png;base64,{{ data.base64Image }}" alt="Image of component" style="width: 100%; height: auto; margin-bottom: 30px;">

      <h2>Overview</h2>

      <p>{{ data['component-overview'] or 'A loading spinner appears when it takes the backend of a service longer than 3 seconds to load information/ changes to a page.' }}</p>

      <h2>Why is the component needed</h2>

      <p>{{ data['component-problem-solved'] or "Our service pulls together data from a few different systems to present information about a sentence plan that the user needs to review. In some situations, this means that it may take more than 3 seconds for a page to load whilst it processes and pulls together data onto the page." }}</p>

      <p>
        <a href="../community/add-new-component/component-details?flow=existing">Have you used this component in your service? Tell us what problem it solved.</a>
      </p>

      <h2>Current uses for the component</h2>
      <p>{{ data['component-how-used'] or "Research and analytics highlighted that users were concerned when nothing on the screen appeared to tell them a page was loading/processing and would sometimes refresh or abandon the page, causing the processing to either start again or any page changes/ data they had previously entered to disappear. We came up with a loading spinner component to let the user know that the page is loading so they would feel reassured that something was happening in the background. Testing showed a reduction in refreshes and drop offs as a result." }}</p>
      <p>
        <a href="../community/add-new-component/component-owner?flow=existing">Have you used this component in your service? Tell us how you used it.</a>
      </p>
     
    </div>

    <div id="code-stuff" class="content-section" style="display:none;">
      
      <h2>Code</h2>
      {% if data['share-code'] != "yes" %}
      <p>No code has been contributed for this component. If you have examples of how you have used this component in your service then you could help the community. Most users are looking for HTML, Nunjucks, Javascript and CSS or SASS.</p>
      {% endif %}

      <p><a href="../community/add-code/add-code">Contribute code to this component</a></p>
      {% if data['share-code'] == "yes" %}
      <div>
        <h3>{{ data['code-language'] or "SASS" }}</h3>
        <p>{{ data['code-usage'] or "Add the SASS file to your assets folder and include it in your main .SCSS file" }}</p>
        <div style="border: 1px solid #b1b4b6; background-color: white; padding: 30px; font-family: 'Courier'; margin-bottom: 30px">
<pre style="background-color: white">
.app-loading-spinner {
 &__spinner{
   border: 12px solid #DEE0E2;
   border-radius: 50%;
   border-top-color: #005EA5;
   width: 80px;
   height: 80px;
   -webkit-animation: spin 2s linear infinite;
   animation: spin 2s linear infinite;
   margin-bottom: 1.5em;
 }
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
</pre>
        </div>
      </div>
      {% endif %}


    </div>

    <div id="additional-info" class="content-section" style="display:none;">
      <!-- ADDITIONAL STUFF -->

      <h2>Additional Info</h2>
      <h3>Links</h3>
      <!--<p>Useful links and resources related to the [component]. Some links may not work anymore or could require specific access. Where possible we try to ensure links are available for all to use.</p>

      <p><a href="">Figma files (opens in new tab)</a></p>
      <p>Submitted by Jane Smith on 3rd Aug 2022</p>

      <p><a href="">Prototype example (opens in new tab)</a></p>
      <p>Submitted by Andy Williams on 5th Oct 2021</p>-->
      <p>No links have been provided for this component. If you have used this component in your service and you have a prototype you can share it here.</p>
      <p><a href="../community/add-new-component/component-owner?flow=existing">Have you used this component in your service? Share any protoypes you have.</a></p>

      <h3>Things to consider</h3>

      <!--<p>The [component] was tested in the following services:</p>

      <p><strong>Service 1 - Internal audit on Sep 2023</strong><p>
      <p>There were issues raised on focus regarding the [component]</p>

      <p><strong>Service 2 - DAC audit on Aug 2022</strong><p>
      <p>DAC found there were issues on screenreaders when a spinner was shown</p>-->
      <p>No findings have been provided for this component. If you have used this component in your service and had an accessibility review then you can add it here.</p>
      <p><a href="../community/add-new-component/component-owner?flow=existing">Have you used this component in your service? Tell us if you had an accessibility audit or find an issue.</a></p>
      
      <!-- -->
    </div>

    <div id="contribution" class="content-section" style="display:none;">
      <!-- CONTRIBUTION STUFF -->

      <h2>Add component information</h2>

      <p>This is a community component. That means all information contained within this component was added by the community. There is still information you can submit to help maintain this component.</p>
      <!--<p><a href="../community/add-new-component/component-owner?flow=existing">Tell us know if you've used this component in your service</a></p>-->

      <h2>Information still needed</h2>
      <p>This component still needs the following information:</p>
        <p><a href="">Additional code examples</a><br>
        <a href="">Links to prototypes of the component</a><br>
        <a href="">Accessibility findings</a></p>


      <h2>Component history</h2>

<!--
      <p><strong>Jane Smith</strong> 3rd September 2024</p>
      <p>Added Figma and prototype links</p>

      <p><strong>Anonymous</strong> 28th July 2024</p>
      <p>Added accessibility findings</p>
      <p>Added to the overview of the component</p>

      <p><strong>Andy Williams</strong> 28th July 2024</p>
      <p>Added HTML, SASS and Javascript code snippets</p>
-->
      <p><strong>Jane Smith </strong> 28th July 2024</p>
      <p>New component added</p>

      <p>Thank you to everyone who has contributed to this component.</p>

    </div>

    <script>
      document.addEventListener('DOMContentLoaded', function () {
        const links = document.querySelectorAll('.moj-sub-navigation__link');
        const sections = document.querySelectorAll('.content-section');

        // Hide all sections except the first one
        sections.forEach((section, index) => {
          if (index !== 0) {
            section.style.display = 'none';
          }
        });

        // Set aria-current attribute to the first link
        links[0].setAttribute('aria-current', 'page');

        links.forEach(link => {
          link.addEventListener('click', function (event) {
            event.preventDefault();

            // Hide all sections
            sections.forEach(section => {
              section.style.display = 'none';
            });

            // Remove aria-current attribute from all links
            links.forEach(link => {
              link.removeAttribute('aria-current');
            });

            // Show the clicked section
            const targetId = this
              .getAttribute('href')
              .substring(1);
            document
              .getElementById(targetId)
              .style
              .display = 'block';

            // Set aria-current attribute to the clicked link
            this.setAttribute('aria-current', 'page');
          });
        });
      });
    </script>

  {% endblock %}