{% extends "../../layouts/base.html" %}

{% block content %}
  <div class="app-layout__content">
    <form action="" method="POST">
      {% if data['flow'] == "existing" %}
        <span class="govuk-caption-l">Add to an existing component</span>
      {% else %}
        <span class="govuk-caption-l">Submit new component</span>
      {% endif %}
      <h1>Component code</h1>

      <p>We recommend sending HTML, CSS, SASS, Javascript or Nunjucks.</p>

      <p>You should only send the component code. It should not contain any personal or sensitive information. You can add more than one code example.</p>

      {% from "govuk/components/input/macro.njk" import govukInput %}
      {% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
      {% from "govuk/components/button/macro.njk" import govukButton %}

      {{ govukInput({
        label: {
          text: "What language is the code written in?",
          classes: "govuk-label--m",
          isPageHeading: false
        },
        hint: {
          text: "HTML, CSS, SASS, Javascript etc. If possible, the code should be in one language to make it easier for others to reuse."
        },
        id: "code-language",
        name: "code-language",
        classes: "govuk-input--width-30"
      }) }}

      {{ govukCharacterCount({
        name: "code-usage",
        id: "code-usage",
        maxwords: 250,
        hint: {
          text: "Include any information that helps users add the code to their service to use"
        },
        label: {
          text: "How do you use the code? (optional)",
          classes: "govuk-label--m",
          isPageHeading: false
        }
      }) }}

      {{ govukCharacterCount({
        name: "code-code",
        id: "code-code",
        maxlength: 10000,
        rows: 30,
        label: {
          text: "Add the code",
          classes: "govuk-label--m",
          isPageHeading: false
        }
      }) }}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Continue"
        }) }}

        {{ govukButton({
          text: "Add another code example",
          classes: "govuk-button--secondary"
        }) }}
      </div>

    </form>
  </div>
{% endblock %}