{% extends "../../layouts/base.html" %}
{#
{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "#"
  }) }}
{% endblock %}
#}

{% block content %}
  {% from "govuk/components/back-link/macro.njk" import govukBackLink %}

  <div style="padding:0 60px 0 60px">
    <a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
  </div>

  <div class="app-layout__content">
    {% if data['flow'] == "existing" %}
      <span class="govuk-caption-l">Add to an existing component</span>
    {% else %}
      <span class="govuk-caption-l">Submit new component</span>
    {% endif %}
    <h1>Check your answers before submitting the component</h1>

    {% from "govuk/components/button/macro.njk" import govukButton %}
    {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

    <h2 class="govuk-heading-m">Component details</h2>

    {{ govukSummaryList({
        classes: "govuk-!-margin-bottom-9",
        rows: [
          {
            key: {
              text: "Component name"
            },
            value: {
              text: data['component-name'] or "default name"
            },
            actions: {
              items: [
                {
                  href: "component-details",
                  text: "Change",
                  visuallyHiddenText: "component details"
                }
              ]
            }
          },
          {
            key: {
              text: "Description"
            },
            value: {
              text: data['component-overview'] or "something else"
            },
            actions: {
              items: [
                {
                  href: "component-details",
                  text: "Change",
                  visuallyHiddenText: "overview of component"
                }
              ]
            }
          },
          {
            key: {
              text: "How component is used in your service"
            },
            value: {
              text: data['component-how-used'] or "default info"
            },
            actions: {
              items: [
                {
                  href: "component-details",
                  text: "Change",
                  visuallyHiddenText: "how the component is being used in your service"
                }
              ]
            }
          },
          {
            key: {
              text: "The problem the component solved"
            },
            value: {
              html: data['component-problem-solved'] or "default info"
            },
            actions: {
              items: [
                {
                  href: "component-details",
                  text: "Change",
                  visuallyHiddenText: "what problem the component solved"
                }
              ]
            }
          },
          {
            key: {
              text: "Supporting file"
            },
            value: {
              html: data['component-screenshot'] or "temp file"
            },
            actions: {
              items: [
                {
                  href: "component-screenshot",
                  text: "Change",
                  visuallyHiddenText: "the image of the component"
                }
              ]
            }
          } if data['flow'] != "existing"
        ]
      }) }}

    <h2 class="govuk-heading-m">Accessibility findings</h2>

    {{ govukSummaryList({
        classes: "govuk-!-margin-bottom-9",
        rows: [
          {
            key: {
              text: "Accessibility tested"
            },
            value: {
              text: data['share-findings'] or "No"
            },
            actions: {
              items: [
                {
                  href: "add-findings",
                  text: "Change",
                  visuallyHiddenText: "accessibility findings"
                }
              ]
            }
          },
          {
            key: {
              text: "Further information"
            },
            value: {
              text: data['add-findings'] or "default findings"
            },
            actions: {
              items: [
                {
                  href: "add-findings",
                  text: "Change",
                  visuallyHiddenText: "accessibility findings"
                }
              ]
            }
          } if data['share-findings'] == "yes"     
        ]
      }) }}

    <h2 class="govuk-heading-m">Prototype URL</h2>

    {{ govukSummaryList({
        classes: "govuk-!-margin-bottom-9",
        rows: [
          {
            key: {
              text: "Share a link"
            },
            value: {
              text: data['share-link'] or "No"
            },
            actions: {
              items: [
                {
                  href: "add-link",
                  text: "Change",
                  visuallyHiddenText: "prototype file and links address"
                }
              ]
            }
          },
          {
            key: {
              text: "Link URL"
            },
            value: {
              text: data['link-url'] or "default url"
            },
            actions: {
              items: [
                {
                  href: "add-link",
                  text: "Change",
                  visuallyHiddenText: "prototype file and links address"
                }
              ]
            }
          } if data['share-link'] == "yes",
          {
            key: {
              text: "Further information"
            },
            value: {
              text: data['link-info'] or "default info"
            },
            actions: {
              items: [
                {
                  href: "add-link",
                  text: "Change",
                  visuallyHiddenText: "prototype file and links information"
                }
              ]
            }
          } if data['share-link'] == "yes"   
        ]
      }) }}

    <h2 class="govuk-heading-m">Component code</h2>

    {{ govukSummaryList({
        classes: "govuk-!-margin-bottom-9",
        rows: [
          {
            key: {
              text: "Share code"
            },
            value: {
              text: data['share-code'] or "No"
            },
            actions: {
              items: [
                {
                  href: "add-code",
                  text: "Change",
                  visuallyHiddenText: "component code language"
                }
              ]
            }
          },
          {
            key: {
              text: "Code language"
            },
            value: {
              text: data['code-language'] or "HTML"
            },
            actions: {
              items: [
                {
                  href: "add-code",
                  text: "Change",
                  visuallyHiddenText: "component code language"
                }
              ]
            }
          } if data['add-code'] == "yes",
          {
            key: {
              text: "Code usage"
            },
            value: {
              text: data['code-usage'] or "default usage"
            },
            actions: {
              items: [
                {
                  href: "add-code",
                  text: "Change",
                  visuallyHiddenText: "component code usage"
                }
              ]
            }
          } if data['add-code'] == "yes",
          {
            key: {
              text: "Code"
            },
            value: {
              text: data['code-code'] or "default code"
            },
            actions: {
              items: [
                {
                  href: "add-code",
                  text: "Change",
                  visuallyHiddenText: "component code"
                }
              ]
            }
          } if data['add-code'] == "yes"
        ]
      }) }}

    <h2 class="govuk-heading-m">Additional information</h2>

    {{ govukSummaryList({
        classes: "govuk-!-margin-bottom-9",
        rows: [
          {
            key: {
              text: "Additional information"
            },
            value: {
              text: data['additional-info'] or "Additional information"
            },
            actions: {
              items: [
                {
                  href: "additional-info",
                  text: "Change",
                  visuallyHiddenText: "additional info"
                }
              ]
            }
          }
        ]
      }) }}

    <h2 class="govuk-heading-m">Your details</h2>

    {{ govukSummaryList({
        classes: "govuk-!-margin-bottom-9",
        rows: [
          {
            key: {
              text: "Name"
            },
            value: {
              text: data['user-name'] or 'default name'
            },
            actions: {
              items: [
                {
                  href: "user-details",
                  text: "Change",
                  visuallyHiddenText: "your name"
                }
              ]
            }
          },
          {
            key: {
              text: "Email address"
            },
            value: {
              text: data['user-email'] or 'default email'
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "licence type"
                }
              ]
            }
          },
          {
            key: {
              text: "Share your details"
            },
            value: {
              text: data['share-preferences'] or 'default preferences'
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "licence period"
                }
              ]
            }
          }
        ]
      }) }}

    <form action="" method="POST">
      {{ govukButton({
      text: "Accept and send"
    }) }}
    </form>
  </div>
{% endblock %}