{% extends "../../layouts/base.html" %}

{% block content %}
  <div class="app-layout__content">
    <form action="" method="POST">
      {% if data['flow'] == "existing" %}
        <span class="govuk-caption-l">Add to an existing component</span>
      {% else %}
        <span class="govuk-caption-l">Submit new component</span>
      {% endif %}
      <h1>Prototype URL and link</h1>

      {% from "govuk/components/button/macro.njk" import govukButton %}
      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        name: "share-link",
        fieldset: {
          legend: {
            text: "Do you have a prototype URL for the component?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes"
          },
          {
            value: "no",
            text: "No"
          }
        ]
      }) }}

      {{ govukButton({
      text: "Continue"
    }) }}
    </form>
  </div>
{% endblock %}