{% extends "../../layouts/base.html" %}

{% block content %}
  <div class="app-layout__content">
    <form action="" method="POST">
      <span class="govuk-caption-l">Add to an existing component</span>
      <h1>[accessibility]</h1>

      <p>[findings description]</p>


      {% from "govuk/components/button/macro.njk" import govukButton %}
      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        name: "share-findings",
        fieldset: {
          legend: {
            text: "Do you have [findings]",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes"
          },
          {
            value: "no",
            text: "No"
          }
        ]
      }) }}

      {{ govukButton({
      text: "Continue"
    }) }}
    </form>
  </div>
{% endblock %}