{% extends "../layouts/base.html" %}
{% from "../layouts/macros/card.njk" import card %}

{% block content %}
  <div class="app-layout__content">
    <span class="govuk-caption-l">Community components</span>
    <h1>{{ data['component-name'] or "Spinner" }}</h1>

    <style>
      .moj-sub-navigation__link[aria-current=page]:before {
        //bottom:-5px
      }

      .app-prose-scope ul,
      .govuk-list--bullet {
        padding: 0;
      }

      .moj-sub-navigation__link {
        margin-bottom: -4px;
      }
    </style>

    <nav class="moj-sub-navigation" aria-label="Sub navigation">
      <ul class="moj-sub-navigation__list">
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" id="link-overview" href="#overview" aria-current="page">Overview</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" id="link-code-stuff" href="#code-stuff">Code Stuff</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" id="link-additional-info" href="#additional-info">Additional Info</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" id="link-contribution" href="#contribution">Contribution</a>
        </li>
      </ul>
    </nav>

    <div id="overview" class="content-section">
      <img src="" alt="Image of component" style="width: 100%; height: auto; margin-bottom: 30px;">
      
      <h2>Overview</h2>
      
      <p>{{ data['component-overview'] or 'Component overview' }}</p>
      
      <h2>Why is the component needed</h2>
      
      <p>{{ data['component-problem-solved'] or "Why is the component needed" }}</p>
      
      <p><a href="">Have you used this component in your service? Tell us what problem it solved.</a></p>

      <h2>Current uses for the component</h2>
      <p>{{ data['component-how-used'] or "Current uses for the component" }}</p>
      <p><a href="">Have you used this component in your service? Tell us how you used it.</a></p>

  </div>

  <div id="code-stuff" class="content-section" style="display:none;">
    <h2>Code Stuff</h2>
    <p>[code stuff]</p>
  </div>

  <div id="additional-info" class="content-section" style="display:none;">
    <h2>Additional Info</h2>
    <p>[additional info]</p>
  </div>

  <div id="contribution" class="content-section" style="display:none;">
    <h2>Contribution</h2>
    <p>[contribution]</p>
  </div>

{#
  <p>Use this component when users need to add similar information a couple of times, such as several names for a single application.</p>

  <h2>When not to use</h2>

  <p>Do not use this pattern when users need to add different kinds of information that do not relate to each other.</p>

  <p>If users need to add information many times, it may cause performance and validation issues as the page will get very long. In this case, you should use [add to a list](/patterns/add-to-a-list/).</p>

  <h2>How to use</h2>

  <p>The add another component relies on JavaScript. When JavaScript is not available, your page should reload with the additional form elements if the "Add another" button is pressed.</p>

  <p>By default the component adds a H2 to the page. Make sure a H1 is also present to provide a clear heading structure.</p>

  <h2>Research</h2>

  <p>This component has been tested in prototypes of several citizen and internal products, including:</p>

- Claim fees for Crown court defence (Legal Aid Agency)
- Moving People Safely (His Majesty’s Prison and Probation Service)

<h2>Accessibility issues</h2>

  <p>Some people who use assistive technology will find it hard to identify form items that are added. This is because the form labels this component creates are given the same ID when added to the page. [A fix for this has been proposed on GitHub.](https://github.com/ministryofjustice/moj-frontend/issues/160) This has been raised in an external audit under Web Content Accessibility Guidelines (WCAG) 2.4.6 Headings and Labels (Level AA). If you use this component without addressing this issue, you must list it in the accessibility statement.</p>

  <p>People with low vision have also reported difficulty interacting with the remove button. This is because by default it is aligned to the right of the page away from their main focus.</p>
  </div>
  #}
<script>
document.addEventListener('DOMContentLoaded', function () {
const links = document.querySelectorAll('.moj-sub-navigation__link');
const sections = document.querySelectorAll('.content-section');

// Hide all sections except the first one
sections.forEach((section, index) => {
  if (index !== 0) {
    section.style.display = 'none';
  }
});

// Set aria-current attribute to the first link
links[0].setAttribute('aria-current', 'page');

links.forEach(link => {
  link.addEventListener('click', function (event) {
    event.preventDefault();

    // Hide all sections
    sections.forEach(section => {
      section.style.display = 'none';
    });

    // Remove aria-current attribute from all links
    links.forEach(link => {
      link.removeAttribute('aria-current');
    });

    // Show the clicked section
    const targetId = this
      .getAttribute('href')
      .substring(1);
    document
      .getElementById(targetId)
      .style
      .display = 'block';

    // Set aria-current attribute to the clicked link
    this.setAttribute('aria-current', 'page');
  });
});
});
</script>

{% endblock %}