{% extends "/layouts/base-v2.html" %}

{% from "../../layouts/macros/card.njk" import card %}

{% block content %}
  <div class="app-layout__content">
    <span class="govuk-caption-l">Get involved</span>
    <h1>Community collaboration </h1>

    <style>
      .part-navigation-container {
        margin-bottom: 30px;
        border-bottom: 1px solid #b1b4b6;
      }

      .gem-c-contents-list {
        position: relative;
        z-index: 1;
        //background: #fff;
        box-shadow: 0 20px 15px -10px #fff;
      }

      .app-prose-scope ol,
      .govuk-list--number {
        padding-left: 0;
      }

      .gem-c-contents-list__title {
        margin: 0;
        color: #0b0c0c;
        font-family: "GDS Transport", arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.5;

      }

      .gem-c-contents-list__list,
      .gem-c-contents-list__nested-list {
        margin: 0;
        padding: 0;
        list-style-type: none;
        color: #0b0c0c;
        font-family: "GDS Transport", arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.25;
      }

      .gem-c-contents-list__list-item--dashed {
        position: relative;
        padding-left: 25px;
        padding-right: 25px;
      }

      .gem-c-contents-list__list-item {
        padding-top: 10px;
        line-height: 1.3;
        list-style-type: none;
      }

      .gem-c-contents-list__list-item--dashed .gem-c-contents-list__list-item-dash::before {
        content: "—";
        position: absolute;
        left: 0;
        width: 20px;
        overflow: hidden;
      }
    </style>

    <aside class="part-navigation-container" role="complementary">
      <nav dclass="gem-c-contents-list govuk-!-margin-bottom-4">
        <h2 class="gem-c-contents-list__title">Contents</h2>
        <ol class="gem-c-contents-list__list">
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed gem-c-contents-list__list-item--active" aria-current="true">
            <span class="gem-c-contents-list__list-item-dash" aria-hidden="true"></span>Overview of community collaboration</li>
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
            <span class="gem-c-contents-list__list-item-dash" aria-hidden="true"></span>
            <a class="gem-c-contents-list__link govuk-link gem-c-force-print-link-styles" href="submit-new-component">Submitting new components to the design system</a>
          </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
            <span class="gem-c-contents-list__list-item-dash" aria-hidden="true"></span>
            <a class="gem-c-contents-list__link govuk-link gem-c-force-print-link-styles" href="add-to-an-existing-component">Adding information to an existing component</a>
          </li>
        </ol>
      </nav>
    </aside>

    <h2>Overview of community collaboration</h2>
    <p>The MoJ Design System is a collaboration between the community of users and the design system team. Anyone can get involved to help improve, grow and evolve the design system by:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>adding new 'community components'</li>
      <li>providing more information about community components</li>
      <li>offering feedback on components and patterns</li>
      <li>taking part in discussions with other community members</li>
    </ul>
  </p>

  <h3>What is a community component?</h3>
  <p>A community component is a new component submitted by a person working outside of the MoJ design system team.</p>

  <p>What makes it a community component is that it can be added without all the information available. This removes the barrier of entry to submitting new components to the design system. And allows the community of users to continue collaborating on these components together.</p>

  <h3>Who can submit new community components to the design system?</h3>

  <p>Anyone can submit new components to the design system.</p>

  <p>The team encourages people from the MoJ and other government communities to get involved in developing the design system we all use.</p>

  <p>There are no limitations on who can submit components to the design system or what those components are.</p>

  <h3>Get involved and collaborate with the community</h3>

  <p>Whether you're submitting a new component or adding more information, you can do it here in the MoJ Design System.</p>

  <p>Design systems are resources we all use most, if not everyday. Now, you have the opportunity to help shape the MoJ design system and how you, and others, use it. All while getting to know others in the community and working together to evolve the design system.</p>

  {% from "govuk/components/pagination/macro.njk" import govukPagination %}

  {{ govukPagination({
    next: {
      labelText: "Submitting new components to the design system",
      href: "submit-new-component"
    }
  }) }}

</div>
{% endblock %}