{% extends "../../layouts/base.html" %}

{% block content %}
  <div class="app-layout__content">
    <form action="" method="POST">
      <span class="govuk-caption-l">Add to an existing component</span>
      <h1>Additional information</h1>

      {% from "govuk/components/input/macro.njk" import govukInput %}
      {% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
      {% from "govuk/components/button/macro.njk" import govukButton %}

      {{ govukCharacterCount({
        name: "wordCount",
        id: "word-count",
        maxwords: 500,
        label: {
          text: "Do you have any further supporting information about this component?",
          classes: "govuk-label--m",
          isPageHeading: false
        }
      }) }}   

      {{ govukButton({
      text: "Continue"
    }) }}
    </form>
  </div>
{% endblock %}