{% extends "../layouts/base.html" %}
{% from "../layouts/macros/card.njk" import card %}

{% block content %}
  <div class="app-layout__content">
    <span class="govuk-caption-l">Get involved</span>
    <h1>Community collaboration </h1>

  Contents
— Overview of community collaboration
— Submitting new components to the design system
— Adding information to an existing component

<h2>Add information to an existing component</h2>

    <p>After a 'community' component has been published live on the design system, you, and other users, have the opportunity to continue developing it.</p>

    <p>This is done by users continuing to add information and resources to the component.</p>

    <h3>Additional information you can add to the component</h3>

    <p>Further information you can provide about the component includes:</p>
    <ul class="govuk-list govuk-list--bullets">
      <li>accessibility findings</li>
      <li>research findings</li>
      <li>code for the component such as HTML, Javascript, CSS, SASS and Nunjucks</li>
      <li>links to Figma files</li>
      <li>additional image or supporting files</li>
      <li>any additional information not listed</li>
    </ul>

    <h3>How do you add information to a component</h3>

    <p>To add further information about a component, select "Add more component information".</p>

    <p>You'll then be asked to add information about the component including:</p>

    <ul class="govuk-list govuk-list--bullets">
      <li>accessibility findings</li>
      <li>research findings</li>
      <li>code for the component such as HTML, Javascript, CSS, SASS and Nunjucks</li>
      <li>links to Figma files</li>
      <li>additional image or supporting files</li>
      <li>any additional information not listed</li>
    </ul>

    <p>You also have to provide your:</p>

    <ul class="govuk-list govuk-list--bullets">
      <li>name</li>
      <li>email address</li>
      <li>job role</li>
      <li>team name</li>
    </ul>

    <h3>Design team review of component information</h3>

    <p>The MoJ Design System team will then review the new information about the component. This can take up to 5 working days.</p>

    <p>If there are no issues and the team does not need to contact you, the information will be added to the component in the design system.</p>

[Add more component information]


Previous
<p>
      <a href="">Submitting new components</a>
    </p>

  </div>
{% endblock %}