{% extends "../layouts/base.html" %}
{% from "../layouts/macros/card.njk" import card %}

{% block content %}
  <div class="app-layout__content">
    <span class="govuk-caption-l">Get involved</span>
    <h1>Community collaboration </h1>

  Contents
— Overview of community collaboration
— Submitting new components to the design system
— Adding information to an existing component

<h2>Overview of community collaboration</h2>
    <p>The MoJ Design System is a collaboration between the community of users and the design system team. Anyone can get involved to help improve and grow the design system by:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>adding new 'community components'</li>
      <li>providing more information about community components</li>
      <li>offering feedback on components and patterns</li>
      <li>taking part in discussions with other community members</li>
    </ul>
  </p>

  <h3>What is a community component?</h3>
  <p>A community component is a new component submitted by a person working outside of the MoJ design system team.</p>

  <p>What makes it a community component is that it can be added without all the information available. This removes the barrier of entry to submitting new components to the design system. And allows the community of users to continue developing these components together.</p>

  <h3>Who can submit new community components to the design system?</h3>

  <p>Anyone can submit new components to the design system.</p>

  <p>The team encourages people from the MoJ and other government communities to get involved in developing the design system we all use.</p>

  <p>There are no limitations on who can submit components to the design system or what those components are.</p>

  <h3>The team wants to hear from you</h3>

  <h4>Adding a new community component</h4>
  <p>Whether you only have a few details about the component, or all the details available, you can submit it as a "community component".</p>

  <h4>Adding more information to an existing community component</h4>
  <p>Copy</p>

  <h3>Get involved</h3>
  <p>Help shape the design system and define the experience for you and your colleagues throughout the MoJ and government.</p>

Next
<p>
    <a href="">Submitting new components to the design system</a>
  </p>
</div>
{% endblock %}