{% extends "/layouts/base-v3.html" %}

{% from "../../layouts/macros/card.njk" import card %}

{% block content %}
  <div class="govuk-phase-banner" style="background-color: white; padding: 10px 10px 0px 10px; margin: 0; position: sticky; top: 0; z-index:100;">
    <p class="govuk-phase-banner__content" style="margin-bottom: 10px; font-size: 15px">
      <span class="govuk-tag govuk-phase-banner__content__tag govuk-tag--green" style="max-width: none; white-space: nowrap">
        Reviewed
      </span>
      <span class="govuk-phase-banner__text">
        Created Aug 2024. <a href="">Learn more about 'reviewed' components</a>.
      </span>
    </p>
  </div>

  <div class="app-layout__content">
    <span class="govuk-caption-l">Components</span>
    <h1>Add another</h1>

    <div style="background-color: #fff; margin-bottom: 30px">
      {% include "../examples/add-another/index.njk" %}
    </div>

    <h2>When to use</h2>

    <p>Use this component when users need to add similar information a couple of times, such as several names for a single application.</p>

    <h2>When not to use</h2>

    <p>Do not use this pattern when users need to add different kinds of information that do not relate to each other.</p>

    <p>If users need to add information many times, it may cause performance and validation issues as the page will get very long. In this case, you should use [add to a list](/patterns/add-to-a-list/).</p>

    <h2>How to use</h2>

    <p>The add another component relies on JavaScript. When JavaScript is not available, your page should reload with the additional form elements if the "Add another" button is pressed.</p>

    <p>By default the component adds a H2 to the page. Make sure a H1 is also present to provide a clear heading structure.</p>

    <h2>Research</h2>

    <p>This component has been tested in prototypes of several citizen and internal products, including:</p>

    <ul class="govuk-list govuk-list--bullets">
      <li>Claim fees for Crown court defence (Legal Aid Agency)</li>
      <li>Moving People Safely (His Majesty’s Prison and Probation Service)</li>
    </ul>

    <h2>Accessibility issues</h2>

    <p>Some people who use assistive technology will find it hard to identify form items that are added. This is because the form labels this component creates are given the same ID when added to the page. [A fix for this has been proposed on GitHub.](https://github.com/ministryofjustice/moj-frontend/issues/160) This has been raised in an external audit under Web Content Accessibility Guidelines (WCAG) 2.4.6 Headings and Labels (Level AA). If you use this component without addressing this issue, you must list it in the accessibility statement.</p>

    <p>People with low vision have also reported difficulty interacting with the remove button. This is because by default it is aligned to the right of the page away from their main focus.</p>
  </div>
{% endblock %}