{% extends "/layouts/base-v3.html" %}

{% from "../../layouts/macros/card.njk" import card %}

{% block content %}
  <div class="govuk-phase-banner" style="background-color: white; padding: 10px 10px 0px 10px; margin: 0; position: sticky; top: 0; z-index:100;">
    <p class="govuk-phase-banner__content" style="margin-bottom: 10px; font-size: 15px">
      <span class="govuk-tag govuk-phase-banner__content__tag" style="max-width: none; white-space: nowrap">
        Community component
      </span>
      <span class="govuk-phase-banner__text">
        Added Mar 2025. For use in alpha and beta phases. <a href="../community/collaborate-with-the-community">How to use a community component</a>.
      </span>
    </p>
  </div>

  <div class="app-layout__content">
    <span class="govuk-caption-l">Community components</span>
    <h1 class="govuk-heading-l govuk-!-margin-bottom-1">{{ data['component-name'] or "Loading Spinner" }}</h1>
    <p>Created by <strong>Jane Smith in the Probation service: </strong>28th July 2024</p>

    <style>
      .moj-sub-navigation__link[aria-current=page]:before {
        //bottom:-5px
      }

      .app-prose-scope ul,
      .govuk-list--bullet {
        padding: 0;
      }

      .moj-sub-navigation__link {
        margin-bottom: -4px;
        text-decoration: none !important;
      }

      .app-prose-scope a:focus, a:focus, .govuk-link:focus {
        box-shadow: 0 -2px #ffdd00, 0 2px #0b0c0c
      }

    </style>

    <nav class="moj-sub-navigation" aria-label="Sub navigation">
      <ul class="moj-sub-navigation__list">
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" id="link-overview" href="#overview" aria-current="page">Overview</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" id="link-code-stuff" href="#code-stuff">Code</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" id="link-additional-info" href="#additional-info">Accessibility</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" id="link-contribution" href="#contribution">Links</a>
        </li>
      </ul>
    </nav>

    <div id="overview" class="content-section">

      <img src="data:image/png;base64,{{ data.base64Image }}" alt="Image of component" style="width: 100%; height: auto; margin-bottom: 30px;">

      <h2>Overview</h2>

      <p>{{ data['component-overview'] or 'A loading spinner appears when it takes the backend of a service longer than 3 seconds to load information/ changes to a page.' }}</p>

      <h2>How the component is used currently</h2>
      <p>{{ data['component-how-used'] or "Research and analytics highlighted that users were concerned when nothing on the screen appeared to tell them a page was loading/processing and would sometimes refresh or abandon the page, causing the processing to either start again or any page changes/ data they had previously entered to disappear. We came up with a loading spinner component to let the user know that the page is loading so they would feel reassured that something was happening in the background. Testing showed a reduction in refreshes and drop offs as a result." }}</p>
      
      <p>{{ data['component-how-used-existing'] }}</p>
      <p>
        <a href="../community/add-new-component/component-details?flow=existing">Have you used this component in your service? Tell us how you used it.</a>
      </p>
     
    </div>

    <div id="code-stuff" class="content-section" style="display:none;">

      <h2>Help develop existing building blocks in GitHub</h2>

      <p>After a new building block is published in the design system, you, and other users, have the chance to continue enhancing it. This is done with users adding more information and resources to the component via GitHub.</p>

      <p>To do this you should:</p>

      <ul style="padding-left:20px" class="govuk-list govuk-list--bullet">
        <li>go to the GitHub conversation</li>
        <li>add your comments, information and resources about the building block</li>
      </ul>

      <p><a href="">Go to the Loading Spinner GitHub conversation</a></p>

      <h2>Code</h2>

      {% if data['share-code'] != "yes" %}
      <p>No code has been contributed for this component. If you have examples of how you have used this component in your service then you could help the community. Most users are looking for HTML, Nunjucks, Javascript and CSS or SASS.</p>
      {% endif %}

      {% if data['share-code'] == "yes" %}
      <div>
        <h3>{{ data['code-language'] or "SASS" }}</h3>
        <p>{{ data['code-usage'] or "Add the SASS file to your assets folder and include it in your main .SCSS file" }}</p>
        <div style="border: 1px solid #b1b4b6; background-color: white; padding: 30px; font-family: 'Courier'; margin-bottom: 30px">
<pre style="background-color: white">
.app-loading-spinner {
 &__spinner{
   border: 12px solid #DEE0E2;
   border-radius: 50%;
   border-top-color: #005EA5;
   width: 80px;
   height: 80px;
   -webkit-animation: spin 2s linear infinite;
   animation: spin 2s linear infinite;
   margin-bottom: 1.5em;
 }
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
</pre>
        </div>
      </div>
      {% endif %}


    </div>

    <div id="additional-info" class="content-section" style="display:none;">

      <h2>Accessibility</h2>

      {% if data['share-findings'] != "yes" %}

      <p>No accessibility findings have been contributed for this component.</p>
      <p><a href="">Add accessibility findings</a></p>

      {% else %}

      <p>If you have had an accessiblity audit or tested with users with access needs then you could contribute to this component.</p>
      
      <p class="govuk-!-margin-bottom-8"><a href="">Add accessibility findings</a></p>

      <p class="govuk-!-margin-bottom-1"><strong>DAC report</strong> - June 2024</p>

      <p class="govuk-!-margin-bottom-1">The DAC report brought back several issues with the zoom function on devices.</p>

      <p class="govuk-!-margin-bottom-6"><a href="">Download the DAC report (.pdf)</a></p>


      <p class="govuk-!-margin-bottom-1"><strong>MOJ internal audit</strong> - August 2022</p>

      <p class="govuk-!-margin-bottom-1">Was tested with the MOJ internal team before assessment. Found similar relating to users where they needed to use the zoom in feature.</p>

      <p class="govuk-!-margin-bottom-6"><a href="">Download the MOJ internal audit (.pdf)</a></p>


      <p class="govuk-!-margin-bottom-1"><strong>Screenreader feedback</strong> - September 2023</p>

      <p class="govuk-!-margin-bottom-1">The DAC report brought back several issues with the zoom function on devices.</p>

      <p class="govuk-!-margin-bottom-6"><a href="">Download the Screenreader feedback(.pdf)</a></p>

      {% endif %}

    </div>

    <div id="contribution" class="content-section" style="display:none;">

      <h2>Links</h2>

      {% if data['share-prototype'] != "no" and data['share-figma'] != "no" %}
      
        <p>No links have been provided for this component. If you have used this component in your service and you have a prototype you can share it here.</p>

        <p><a href="">Have you used this component in your service? Share any prototypes you have.</a></p>

      {% else %}

        <p>Useful links and resources related to the [component]. Some links may not work anymore or could require specific access. Where possible we try to ensure submitted links are available for all to use.</p>

        <p><a href="">Have you used this component in your service? Share any prototypes you have</a>.</p>

        <h3>Figma links</h3>

        <p>Figma file containing the spinner component. There are other variations as well as some in context examples that were taken to an accessibility audit.</p>

        <p><a href="">Figma file (opens in new tab)</a></p>

        <h3>Prototype links</h3>

        <p>GOV.UK prototype of the spinner being used in the [insert service]. The prototype password is [password] and the link supplied is a direct link to the version where we tested the spinner.</p>

        <p><a href="">Prototype link (opens in new tab) </a></p>

      {% endif %}

      <!--<p>Useful links and resources related to the [component]. Some links may not work anymore or could require specific access. Where possible we try to ensure links are available for all to use.</p>

      <p><a href="">Figma files (opens in new tab)</a></p>
      <p>Submitted by Jane Smith on 3rd Aug 2022</p>

      <p><a href="">Prototype example (opens in new tab)</a></p>
      <p>Submitted by Andy Williams on 5th Oct 2021</p>-->
 

      <!--<p><a href="../community/add-new-component/component-owner?flow=existing">Tell us know if you've used this component in your service</a></p>-->

      

    </div>

    <script>
      document.addEventListener('DOMContentLoaded', function () {
        const links = document.querySelectorAll('.moj-sub-navigation__link');
        const sections = document.querySelectorAll('.content-section');

        // Hide all sections except the first one
        sections.forEach((section, index) => {
          if (index !== 0) {
            section.style.display = 'none';
          }
        });

        // Set aria-current attribute to the first link
        links[0].setAttribute('aria-current', 'page');

        links.forEach(link => {
          link.addEventListener('click', function (event) {
            event.preventDefault();

            // Hide all sections
            sections.forEach(section => {
              section.style.display = 'none';
            });

            // Remove aria-current attribute from all links
            links.forEach(link => {
              link.removeAttribute('aria-current');
            });

            // Show the clicked section
            const targetId = this
              .getAttribute('href')
              .substring(1);
            document
              .getElementById(targetId)
              .style
              .display = 'block';

            // Set aria-current attribute to the clicked link
            this.setAttribute('aria-current', 'page');
          });
        });
      });
    </script>

  {% endblock %}