{% extends "/layouts/base-v2.html" %}


{% block content %}
<div style="padding:0 60px 0 60px">
    <a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
  </div>
  <div class="app-layout__content">
    <form action="" method="POST">
      {% if data['flow'] == "existing" %}
        <span class="govuk-caption-l">Add to an existing component</span>
      {% else %}
        <span class="govuk-caption-l">Submit new component</span>
      {% endif %}
      <h1>Additional information</h1>

      {% from "govuk/components/input/macro.njk" import govukInput %}
      {% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
      {% from "govuk/components/button/macro.njk" import govukButton %}

      {{ govukCharacterCount({
        name: "additional-info",
        id: "additional-info",
        maxwords: 500,
        label: {
          text: "Add any further supporting information you have about this component",
          classes: "govuk-label--m",
          isPageHeading: false
        }
      }) }}

      {{ govukButton({
      text: "Continue"
    }) }}
    </form>
  </div>
{% endblock %}