{% extends "/layouts/base-v3.html" %}

{% block content %}
<div style="padding:0 60px 0 60px">
    <a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
  </div>
  <div class="app-layout__content">
    <form action="" method="POST">
      <span class="govuk-caption-l">Add to an existing component</span>
      <h1>Internal accessibility audit</h1>

      {% from "govuk/components/input/macro.njk" import govukInput %}
      {% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
      {% from "govuk/components/button/macro.njk" import govukButton %}
      {% from "govuk/components/radios/macro.njk" import govukRadios %}
      {% from "govuk/components/date-input/macro.njk" import govukDateInput %}
      {% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}


      {{ govukInput({
        label: {
          text: "What team conducted the internal accessibility audit?",
          classes: "govuk-label--m",
          isPageHeading: false
        },
        id: "event-name",
        name: "eventName"
      }) }}


      {{ govukDateInput({
        id: "passport-issued",
        namePrefix: "passport-issued",
        fieldset: {
          legend: {
            text: "When did the audit take place?",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          text: "For example, 27 3 2007"
        }
      }) }}


      {{ govukFileUpload({
        id: "file-upload-1",
        name: "fileUpload1",
        label: {
          text: "Upload the accessibility report (optional)",
          classes: "govuk-label--m",
          isPageHeading: false
        },
        hint: {
          text: "The selected file must be PDF and smaller than 10MB."
        }
      }) }}

      {{ govukCharacterCount({
        name: "add-findings",
        id: "add-findings",
        maxwords: 250,
        label: {
          text: "Were any issues discovered with the component during the audit? (Optional)",
          classes: "govuk-label--m",
          isPageHeading: false
        }
      }) }}   

      {{ govukButton({
      text: "Continue"
    }) }}
    </form>
  </div>
{% endblock %}