{% extends "/layouts/base-v3.html" %}

{% block content %}

  <div class="app-layout__content">

    <span class="govuk-caption-l">Add to an existing component</span>

    {% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

    {% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

    {% set html %}
        <h3 class="govuk-notification-banner__heading">
          You've submitted additional component information
        </h3>
        <p class="govuk-body">This will be reviewed by the MoJ Design System Team.</p>
    {% endset %}

    {{ govukNotificationBanner({
        html: html,
        titleText: "Component received",
        type: "success",
        classes: "govuk-!-margin-top-5"
      }) }}

    <h3>Team review the component</h3>

    <p>The team will review the additional component information. This can take up to 5 working days.</p>

    <p>The review will include the team going through all the supporting information you added to the component. A member of the team will get in touch with you if any questions come up in the review.</p>

    <h3>What happens after the review?</h3>

    <p>If there are no issues or questions and the team does not need to contact you, the additional component information will go into the design system.</p>

    <p>You will receive an email notification when the additional component information is live in the MoJ Design System.</p>

    <h3>Collaborating with other users on the component</h3>

    <p>Other users have the opportunity to add information about the component once it is live in the design system. Your details will be on the component page if you've given permission for this.</p>

    <p>This is part of the community approach the design system team is encouraging throughout the MoJ and wider government communities.</p>
    
    {% from "govuk/components/button/macro.njk" import govukButton %}
    
    <form action="../../index" method="POST">
      {{ govukButton({
      text: "Back to design system homepage"
    }) }}
    </form>

  </div>
{% endblock %}