{% extends "layouts/base.html" %}
{% set title = "Get help with the MoJ Design System" %}

{% block content %}
  <div class="app-layout__content">
    <h1 class="govuk-heading-xl">
      {{ title }}
    </h1>

    <p>
      <span class="govuk-caption-xl">The MoJ Design System team supports users of the MoJ Design System. Contact us to ask for help.</span></p>
    <h3 id="contact-us-on-slack" tabindex="-1">Contact us on Slack</h3>
    <p>The team monitors the following channels and provides support. If you have any questions, get in touch via Slack.</p>
    <ul>
      <li>For MoJ staff: <a href="https://moj.enterprise.slack.com/archives/CH5RUSB27">#moj-design-system-support</a>
      </li>
      <li>For UK Government staff:<a href="https://ukgovernmentdigital.slack.com/archives/CJ6QDRDGC">#moj-design-system</a>
      </li>
    </ul>
    <h3 id="contact-us-by-email" tabindex="-1">Contact us by email</h3>
    <p>Send a message to <a href="mailto:design-system@digital.justice.gov.uk">design-system@digital.justice.gov.uk</a>.</p>

  </div>

{% endblock %}