{% extends "/layouts/base-v3.html" %}


{% block content %}
<div style="padding:0 60px 0 60px">
    <a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
  </div>
  <div class="app-layout__content">
    <form action="" method="POST">
      <span class="govuk-caption-l">Add to an existing component</span>
      <h1>Figma design</h1>

      {% from "govuk/components/input/macro.njk" import govukInput %}
      {% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
      {% from "govuk/components/button/macro.njk" import govukButton %}

      {{ govukInput({
        label: {
          text: "Add the link to where the Figma design file is saved",
          classes: "govuk-label--m",
          isPageHeading: false
        },
        hint: {
          text: "Review the sharing permissions for the Figma design file before sending it. Ensure the 'Who has access' and 'What they can do' fields are set so the team can view the file."
        },
        id: "link-url",
        name: "link-url",
        classes: "govuk-input--width-30"
      }) }}

      {{ govukCharacterCount({
        name: "link-info",
        id: "link-info",
        maxwords: 250,
        hint: {
          text: "This may be the password for the file if it's protected or the link expiration date if you set one."
        },
        label: {
          text: "Additional information about the Figma design file (optional)",
          classes: "govuk-label--m",
          isPageHeading: false
        }
      }) }}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Continue"
        }) }}

        {{ govukButton({
          text: "Add another link",
          classes: "govuk-button--secondary"
        }) }}
      </div>

    </form>
  </div>
{% endblock %}