{% extends "/layouts/base-v3.html" %}

{% block content %}
  <div style="padding:0 60px 0 60px">
    <a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
  </div>
  <div class="app-layout__content">
    <form action="" method="POST">
      <span class="govuk-caption-l">Add to an existing component</span>
      <h1>Design assets</h1>

      <p>Design assets refer to either a prototype or Figma design file that shows your building block.</p>

      <p>Either of these assets showing the building block is helpful for the team to see when reviewing new submissions.</p>

      <p>If you share a prototype or Figma design, it should not contain personally identifiable or sensitive information. You should only share it if you can guarantee it will always be live and available to other users. This is so users can view it and get an idea of how it works.</p>

      {% from "govuk/components/button/macro.njk" import govukButton %}
      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        name: "share-prototype",
        fieldset: {
          legend: {
            text: "Do you have a prototype link for the component?",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes"
          },
          {
            value: "no",
            text: "No"
          }
        ]
      }) }}

      {{ govukRadios({
        name: "share-figma",
        fieldset: {
          legend: {
            text: "Do you have a Figma design file for the component?",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes"
          },
          {
            value: "no",
            text: "No"
          }
        ]
      }) }}

     
      <div class="govuk-button-group">
        {{ govukButton({
          text: "Continue"
        }) }}

       
      </div>
    </form>
  </div>
{% endblock %}