{% extends "/layouts/base-v3.html" %}

{#
{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "#"
  }) }}
{% endblock %}
#}

{% block content %}
  {% from "govuk/components/back-link/macro.njk" import govukBackLink %}

  <div style="padding:0 60px 0 60px">
    <a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
  </div>

  <div class="app-layout__content">
    {% if data['flow'] == "existing" %}
      <span class="govuk-caption-l">Add to an existing component</span>
    {% else %}
      <span class="govuk-caption-l">Submit new component</span>
    {% endif %}
    <h1>Check your answers before submitting the component</h1>

    {% from "govuk/components/button/macro.njk" import govukButton %}
    {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

    <h2 class="govuk-heading-m">Component details</h2>

    {{ govukSummaryList({
        classes: "govuk-!-margin-bottom-9",
        rows: [
          {
            key: {
              text: "Component name"
            },
            value: {
              text: data['component-name'] or "Loading spinner"
            },
            actions: {
              items: [
                {
                  href: "component-details",
                  text: "Change",
                  visuallyHiddenText: "component details"
                }
              ]
            }
          },
          {
            key: {
              text: "Overview description"
            },
            value: {
              text: data['component-overview'] or "When the page requires information and the user needs to wait for a process to finish then a loading spinner is displayed. This is to show the user that the page is still working and not frozen."
            },
            actions: {
              items: [
                {
                  href: "component-details",
                  text: "Change",
                  visuallyHiddenText: "overview of component"
                }
              ]
            }
          },
          {
            key: {
              text: "How the component is being used in your service"
            },
            value: {
              text: data['component-how-used'] or "There was a need because sometimes user have to wait was sometimes up to 15 seconds due to the amount of data."
            },
            actions: {
              items: [
                {
                  href: "component-details",
                  text: "Change",
                  visuallyHiddenText: "how the component is being used in your service"
                }
              ]
            }
          },
          {
            key: {
              text: "Supporting file"
            },
            value: {
              html: data['component-screenshot'] or "loading-spinner.png"
            },
            actions: {
              items: [
                {
                  href: "remove-file",
                  text: "Add",
                  visuallyHiddenText: "the image of the component"
                }
              ]
            }
          }
        ]
      }) }}

    <h2 class="govuk-heading-m">External accessibility audit</h2>

    {{ govukSummaryList({
        classes: "govuk-!-margin-bottom-9",
        rows: [
          {
            key: {
              text: "External accessibility audit supplier"
            },
            value: {
              text: data['share-external-audit-supplier'] or "DAC"
            },
            actions: {
              items: [
                {
                  href: "add-findings",
                  text: "Change",
                  visuallyHiddenText: "accessibility findings"
                }
              ]
            }
          },
          {
            key: {
              text: "Audit date"
            },
            value: {
              text: data['share-external-audit-date'] or "11 March 2024"
            },
            actions: {
              items: [
                {
                  href: "add-findings",
                  text: "Change",
                  visuallyHiddenText: "accessibility findings"
                }
              ]
            }
          },
          {
            key: {
              text: "Audit report"
            },
            value: {
              text: data['share-external-audit-report'] or "dac-report-2024.pdf"
            },
            actions: {
              items: [
                {
                  href: "add-findings",
                  text: "Change",
                  visuallyHiddenText: "accessibility findings"
                }
              ]
            }
          },
          {
            key: {
              text: "Issues found during the audit"
            },
            value: {
              text: data['share-external-audit-findings'] or "The DAC report brought back several issues with the zoom function on devices."
            },
            actions: {
              items: [
                {
                  href: "add-findings",
                  text: "Change",
                  visuallyHiddenText: "accessibility findings"
                }
              ]
            }
          } 
        ]
      }) }}

      <h2 class="govuk-heading-m">Internal accessibility audit</h2>

      {{ govukSummaryList({
          classes: "govuk-!-margin-bottom-9",
          rows: [
            {
              key: {
                text: "Internal accessibility audit team"
              },
              value: {
                text: data['share-external-audit-supplier'] or "MOJ Accessibility team"
              },
              actions: {
                items: [
                  {
                    href: "add-findings",
                    text: "Change",
                    visuallyHiddenText: "accessibility findings"
                  }
                ]
              }
            },
            {
              key: {
                text: "Audit date"
              },
              value: {
                text: data['share-external-audit-date'] or "20 December 2023"
              },
              actions: {
                items: [
                  {
                    href: "add-findings",
                    text: "Change",
                    visuallyHiddenText: "accessibility findings"
                  }
                ]
              }
            },
            {
              key: {
                text: "Audit report"
              },
              value: {
                text: data['share-external-audit-report'] or "moj-audit-dec-23.pdf"
              },
              actions: {
                items: [
                  {
                    href: "add-findings",
                    text: "Change",
                    visuallyHiddenText: "accessibility findings"
                  }
                ]
              }
            },
            {
              key: {
                text: "Issues found during the audit"
              },
              value: {
                text: data['share-external-audit-report'] or "Was tested with the MOJ internal team before assessment. Found similar relating to users where they needed to use the zoom in feature."
              },
              actions: {
                items: [
                  {
                    href: "add-findings",
                    text: "Change",
                    visuallyHiddenText: "accessibility findings"
                  }
                ]
              }
            } 
          ]
        }) }}

    <h2 class="govuk-heading-m">Testing with assistive technology</h2>

      {{ govukSummaryList({
          classes: "govuk-!-margin-bottom-9",
          rows: [
            {
              key: {
                text: "Testing date"
              },
              value: {
                text: data['share-external-audit-date'] or "5 September 2023"
              },
              actions: {
                items: [
                  {
                    href: "add-findings",
                    text: "Change",
                    visuallyHiddenText: "accessibility findings"
                  }
                ]
              }
            },
            {
              key: {
                text: "Issues found during the audit"
              },
              value: {
                text: data['share-external-audit-report'] or "The DAC report brought back several issues with the zoom function on devices."
              },
              actions: {
                items: [
                  {
                    href: "add-findings",
                    text: "Change",
                    visuallyHiddenText: "accessibility findings"
                  }
                ]
              }
            },
            {
              key: {
                text: "testing report"
              },
              value: {
                text: data['share-external-audit-report'] or "ur-testing-september-23.pdf"
              },
              actions: {
                items: [
                  {
                    href: "add-findings",
                    text: "Change",
                    visuallyHiddenText: "accessibility findings"
                  }
                ]
              }
            }
          ]
        }) }}

    <h2 class="govuk-heading-m">Prototype designs</h2>

    {{ govukSummaryList({
        classes: "govuk-!-margin-bottom-9",
        rows: [
          {
            key: {
              text: "Prototype link"
            },
            value: {
              text: data['share-link'] or "http://testinglink-gov-prototype.com/v5"
            },
            actions: {
              items: [
                {
                  href: "add-link",
                  text: "Change",
                  visuallyHiddenText: "prototype file and links address"
                }
              ]
            }
          },
          {
            key: {
              text: "Additional information"
            },
            value: {
              text: data['link-info'] or "GOV.UK prototype of the spinner being used in the [insert service]. The prototype password is [password] and the link supplied is a direct link to the version where we tested the spinner."
            },
            actions: {
              items: [
                {
                  href: "add-link",
                  text: "Change",
                  visuallyHiddenText: "prototype file and links information"
                }
              ]
            }
          }  
        ]
      }) }}

    <h2 class="govuk-heading-m">Component code</h2>

    {{ govukSummaryList({
        classes: "govuk-!-margin-bottom-9",
        rows: [
          {
            key: {
              text: "Code language"
            },
            value: {
              text: data['code-language'] or "HTML"
            },
            actions: {
              items: [
                {
                  href: "add-code",
                  text: "Change",
                  visuallyHiddenText: "component code language"
                }
              ]
            }
          },
          {
            key: {
              text: "Code usage"
            },
            value: {
              text: data['code-usage'] or "Add this code to your main application.scss file or embed on page if used once."
            },
            actions: {
              items: [
                {
                  href: "add-code",
                  text: "Change",
                  visuallyHiddenText: "component code usage"
                }
              ]
            }
          },
          {
            key: {
              text: "Code"
            },
            value: {
              text: data['code-code'] or '.app-loading-spinner {
  &__spinner{
    border: 12px solid #DEE0E2;
    border-radius: 50%;
    border-top-color: #005EA5;
    width: 80px;
    height: 80px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin-bottom: 1.5em;
  }
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}'
            },
            actions: {
              items: [
                {
                  href: "add-code",
                  text: "Change",
                  visuallyHiddenText: "component code"
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">Figma designs</h2>

    {{ govukSummaryList({
        classes: "govuk-!-margin-bottom-9",
        rows: [
          {
            key: {
              text: "Prototype link"
            },
            value: {
              text: data['share-link'] or "http://figma.com/moj-components"
            },
            actions: {
              items: [
                {
                  href: "add-link",
                  text: "Change",
                  visuallyHiddenText: "prototype file and links address"
                }
              ]
            }
          },
          {
            key: {
              text: "Additional information"
            },
            value: {
              text: data['link-info'] or "Figma file containing the spinner component. There are other variations as well as some in context examples that were taken to an accessibility audit."
            },
            actions: {
              items: [
                {
                  href: "add-link",
                  text: "Change",
                  visuallyHiddenText: "prototype file and links information"
                }
              ]
            }
          }  
        ]
      }) }}

    <h2 class="govuk-heading-m">Your details</h2>

    {{ govukSummaryList({
        classes: "govuk-!-margin-bottom-9",
        rows: [
          {
            key: {
              text: "Name"
            },
            value: {
              text: data['user-name'] or 'Jayne Williams'
            },
            actions: {
              items: [
                {
                  href: "user-details",
                  text: "Change",
                  visuallyHiddenText: "your name"
                }
              ]
            }
          },
          {
            key: {
              text: "Email address"
            },
            value: {
              text: data['user-email'] or 'jwilliams@justive.digital.gov.uk'
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "licence type"
                }
              ]
            }
          },
          {
            key: {
              text: "Share your details on the component page"
            },
            value: {
              text: data['share-preferences'] or 'Add my name and team name to the component page'
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "licence period"
                }
              ]
            }
          }
        ]
      }) }}

    <form action="" method="POST">
      {{ govukButton({
      text: "Accept and send"
    }) }}
    </form>
  </div>
{% endblock %}