{% extends "/layouts/base-v3.html" %}


{% block content %}
<div style="padding:0 60px 0 60px">
    <a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
  </div>
  <div class="app-layout__content">
    <form action="" method="POST" enctype="multipart/form-data">
      {% if data['flow'] == "existing" %}
        <span class="govuk-caption-l">Add to an existing component</span>
      {% else %}
        <span class="govuk-caption-l">Submit new component</span>
      {% endif %}
      <h1>Upload an image of the component</h1>

      <p>You also need to upload an image showing what the component looks like. It should not contain any personal or sensitive information.</p>

      <p>You'll also have an opportunity to add more images of this after submitting the component.</p>

      {%- from "govuk/components/file-upload/macro.njk" import govukFileUpload -%}
{%- from "govuk/components/button/macro.njk" import govukButton -%}
{%- from "govuk/components/error-summary/macro.njk" import govukErrorSummary -%}
{%- from "moj/components/multi-file-upload/macro.njk" import mojMultiFileUpload -%}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if errorSummary.items.length %}
      {{ govukErrorSummary({
        titleText: 'There is a problem',
        errorList: errorSummary.items
      }) }}
    {% endif %}

    <h1 class="govuk-heading-xl">Upload files</h1>

<mark>UPDATE THE MULTI FILE COMPONENT STYLING</mark>
    <form action="/components/multi-file-upload/examples/default" method="post" enctype="multipart/form-data">
      {% set uploadHtml %}
        {{ govukFileUpload({
          id: "documents",
          name: "documents",
          classes: 'moj-multi-file-upload__input',
          label: {
            text: "Upload a file",
            classes: 'govuk-label--m'
          },
          attributes: { multiple: '' },
          errorMessage: errorMessage
        }) }}

        {{govukButton({
          text: 'Upload file',
          classes: 'govuk-button--secondary moj-multi-file-upload__button'
        })}}
      {% endset %}

      {{ mojMultiFileUpload({
        uploadedFiles: {
          heading: { text: 'Files added' },
          items: uploadedFiles
        },
        uploadHtml: uploadHtml
      }) }}

      {{govukButton({
        text: 'Continue'
      })}}
    </form>
  </div>
</div>

      {{ govukButton({
      text: "Continue"
    }) }}
    </form>
  </div>
{% endblock %}