{% extends "/layouts/base-v3.html" %}

{% block content %}
  <div class="app-layout__content">
    <span class="govuk-caption-l">Submit new component</span>
    <h1>Before you start</h1>

    <p>All new components submitted to the design system must include the following details:</p>

    <ul class="govuk-list govuk-list--bullets">
      <li>Component name</li>
      <li>Overview description of the component</li>
      <li>How the component is being used currently.</li>
      <li>An image file to show what the component looks like.</li>
    </ul>

    <p>This information is required to provide users with a basic understanding of the component and how to use it.</p>

    <h3>Providing your personal information</h3>

    <p>Your personal information is also required. This includes your:</p>

    <ul class="govuk-list govuk-list--bullets">
      <li>name</li>
      <li>email address</li>
      <li>team name</li>
    </ul>

    <p>You can choose if you're happy for us to share this information on the component page</p>


    <p>The team will use this information for only 2 reasons:</p>

    <ul class="govuk-list govuk-list--bullets">
      <li>To contact you about the component if required for any reason.</li>
      <li>To include on the page, <em>with your permission</em>, when publishing the new component in the design system.</li>
    </ul>

    {% from "govuk/components/button/macro.njk" import govukButton %}
    <form action="" method="POST">
      {{ govukButton({
      text: "Continue"
    }) }}
    </form>
  </div>
{% endblock %}