{% extends "./base.html" %}
{% from "./macros/card.njk" import card %}

{% block content %}

  <div class="app-masthead ">
    <div class="app-layout__content">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
      Design, build, and deliver accessible and consistent services
    </h1>
      <p>
       Use the MoJ Design System alongside the <a href="" style="color: white">GOV.UK Design System</a>.
    </p>
      <p>The MoJ Design System enables teams to avoid repetition by learning from the work and experiences of others. By contributing to the Design System you can help others, too.</p>
    </div>
  </div>

  <div class="app-layout__content">
    <h2>About the design system</h2>
    <div class="govuk-grid-row" >
      <div class="govuk-grid-column-one-half" style="margin-bottom: 20px">
        <div>
          <img src width="100%" height="300px" style="background-color: teal; margin-bottom: 10px">
          <h3 class="govuk-heading-s">Benefits of using the MoJ Design System</h3>
          <p>Learn about how reusing MoJ Design System building blocks helps product teams as well as users.</p>
          <p>
            <a href="">Read about the benefits of the MoJ Design System</a>
          </p>
        </div>
      </div>

      <div class="govuk-grid-column-one-half" style="margin-bottom: 20px">
        <div>
          <img src width="100%" height="300px" style="background-color: hotpink; margin-bottom: 10px">
          <h3 class="govuk-heading-s">How we work on reusable elements</h3>
          <p>Read about the different categories of reusable elements, and how they’re reviewed.</p>
          <p>
            <a href="">Read about the building block categories </a>
          </p>
        </div>
      </div>
    </div>

    <div style="padding: 0 15px; border-top: 1px solid #b1b4b6; margin-bottom: 30px;"></div>

    <h2>Get involved in helping the Design System grow</h2>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half" style="margin-bottom: 20px">
        <div>
          <img src width="100%" height="300px" style="background-color: hotpink; margin-bottom: 10px">
        </div>
      </div>

      <div class="govuk-grid-column-one-half" style="margin-bottom: 20px">
        <div>
          <h3 class="govuk-heading-s">Collaborate with the community</h3>
          <p>The MoJ Design System is a collaboration between communities of users and the Design System team.</p>
          <p>Anyone can help improve the Design System.</p>
          <p>You can get involved with community components by adding a new one, or providing information and feedback about an existing one.</p>
          <p>
            <a href="community/collaborate-with-the-community">Discover more about collaborating with the community</a>
          </p>
        </div>
      </div>
    </div>

    <div style="padding: 0 15px; border-top: 1px solid #b1b4b6; margin-bottom: 30px;"></div>

    <h2>Setting up prototypes</h2>
    <div class="govuk-grid-row" style="margin-bottom: 30px;">
      <div class="govuk-grid-column-full-width" style="padding: 0 15px; margin-bottom: 50px">
        <div>
          <h3 class="govuk-heading-s">How to choose the right prototyping tool</h3>
          <p>Understand how to choose the right tool to get the best insights from your user testing.</p>
          <p>
            <a href="">How to choose a prototyping tool</a>
          </p>
        </div>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half"  style="margin-bottom: 20px">
        <div>
          <h3 class="govuk-heading-s">How to set up Figma prototypes</h3>
          <p>Figma Kits help people to create consistent designs. Learn how to use them in your design files.</p>
          <p>
            <a href="">How to set up Figma prototypes</a>
          </p>
        </div>
      </div>
      <div class="govuk-grid-column-one-half"  style="margin-bottom: 20px">
        <div>
          <h3 class="govuk-heading-s">How to set up Coded prototypes</h3>
          <p>Learn how to create coded prototypes using the MoJ Design System and GOV.UK Prototype Kit.</p>
          <p>
            <a href="">How to set up coded prototypes</a>
          </p>
        </div>
      </div>
    </div>

    <div style="padding: 0 15px; border-top: 1px solid #b1b4b6; margin-bottom: 30px;"></div>

    <h2>Getting set up for production</h2>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <div>
          <h3 class="govuk-heading-s">Install MoJ Frontend</h3>
          <p>Learn how to set up your project so you can start using MoJ styles and coded examples in production.</p>
          <p>
            <a href="">How to install MoJ Frontend</a>
          </p>
        </div>
      </div>
      <div class="govuk-grid-column-one-half">
        <div>
          <h3 class="govuk-heading-s">Set up JavaScript</h3>
          <p>Adding code to your service will set up JavaScript and enable full use of all MoJ components.</p>
          <p>
            <a href="">How to set up JavaScript </a>
          </p>
        </div>
      </div>
    </div>

    {{ content | safe }}
  </div>

{% endblock %}