{% extends "./base.html" %}
{% from "./macros/card.njk" import card %}

{% block content %}

  <div class="app-masthead ">
    <div class="app-layout__content">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
      Design, build, and deliver accessible and consistent services
    </h1>
      <p>
       The MoJ Design System adds building blocks for MoJ services to the GOV.UK Design System.
    </p>
      <p>Use the MoJ Design System to learn from the work and experiences of others, contribute back into the design system, and reuse as much as possible to avoid repeating what has already been done.</p>
    </div>
  </div>

  <div class="app-layout__content">
    <h2>About the design system</h2>
    <div class="govuk-grid-row" >
      <div class="govuk-grid-column-one-half" style="margin-bottom: 20px">
        <div>
          <img src width="100%" height="300px" style="background-color: teal; margin-bottom: 10px">
          <h3 class="govuk-heading-s">Benefits of using the MoJ Design System</h3>
          <p>Reusing building blocks from the MoJ Design System benefits whole product teams as well as users.</p>
          <p>
            <a href="">Read more</a>
          </p>
        </div>
      </div>

      <div class="govuk-grid-column-one-half" style="margin-bottom: 20px">
        <div>
          <img src width="100%" height="300px" style="background-color: hotpink; margin-bottom: 10px">
          <h3 class="govuk-heading-s">How we work on reusable elements</h3>
          <p>Read about how we define the stability of our building blocks, and the processes that we go through.</p>
          <p>
            <a href="">Read more</a>
          </p>
        </div>
      </div>
    </div>

    <div style="padding: 0 15px; border-top: 1px solid #b1b4b6; margin-bottom: 30px;"></div>

    <h2>Get involved and help the design system grow</h2>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half" style="margin-bottom: 20px">
        <div>
          <img src width="100%" height="300px" style="background-color: hotpink; margin-bottom: 10px">
        </div>
      </div>

      <div class="govuk-grid-column-one-half" style="margin-bottom: 20px">
        <div>
          <h3 class="govuk-heading-s">Collaborate and evolve with the community</h3>
          <p>The MoJ Design System is a collaboration between the community of users and the design system team. Anyone can get involved to help improve, grow and evolve the design system in different ways.</p>
          <p>You can get involved by adding a new community component. Or, providing more information about an existing community component. You can also offer feedback to members of the community that have submitted components.</p>
          <p>
            <a href="">Read more</a>
          </p>
        </div>
      </div>
    </div>

    <div style="padding: 0 15px; border-top: 1px solid #b1b4b6; margin-bottom: 30px;"></div>

    <h2>Setting up prototypes</h2>
    <div class="govuk-grid-row" style="margin-bottom: 30px;">
      <div class="govuk-grid-column-full-width" style="padding: 0 15px; margin-bottom: 50px">
        <div>
          <h3 class="govuk-heading-s">How to choose the right prototyping tool</h3>
          <p>Understand how to choose the right tool to get the best insights from your user testing.</p>
          <p>
            <a href="">Read more</a>
          </p>
        </div>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half"  style="margin-bottom: 20px">
        <div>
          <h3 class="govuk-heading-s">How to set up Figma prototypes</h3>
          <p>Figma Kits help people to create designs that are consistent with one another. Learn how to use them in your design files.</p>
          <p>
            <a href="">Read more</a>
          </p>
        </div>
      </div>
      <div class="govuk-grid-column-one-half"  style="margin-bottom: 20px">
        <div>
          <h3 class="govuk-heading-s">How to set up Coded prototypes</h3>
          <p>Learn how to create coded prototypes using the MoJ Design System and GOV.UK Prototype Kit.</p>
          <p>
            <a href="">Read more</a>
          </p>
        </div>
      </div>
    </div>

    <div style="padding: 0 15px; border-top: 1px solid #b1b4b6; margin-bottom: 30px;"></div>

    <h2>Setting up for production</h2>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <div>
          <h3 class="govuk-heading-s">Install MoJ front end</h3>
          <p>Learn how to set up your project so you can start using MoJ styles and coded examples in production.</p>
          <p>
            <a href="">Read more</a>
          </p>
        </div>
      </div>
      <div class="govuk-grid-column-one-half">
        <div>
          <h3 class="govuk-heading-s">Set up JavaScript</h3>
          <p>To fully use some MoJ components you will need to add some code to your service to set up the JavaScript.</p>
          <p>
            <a href="">Read more</a>
          </p>
        </div>
      </div>
    </div>

    {{ content | safe }}
  </div>

{% endblock %}